body {
    max-width: 50em;
    margin: 0em auto;
}

#score, #card, nav ul ul, #language-title, #list-title, #score {
    display: none;
}

header, #card>p {
    display: block;
    text-align: center;
}

#language-title, #list-title {
    display: inline;
}

#language-title {
    padding-right: 1em;
}

#card {
    padding: 0.5em;
    border: 1px solid #000;
}

#word {
    margin-top: 0.5em;
    font-size: 400%;
}

#score span, #answer span, #answer input, #correct-answer {
    font-size: 200%;
    font-weight: bold;
}

#answer {
    margin-bottom: 0em;
}

#answer input {
    width: 85%;
}

#answer>span {
    float: right;
    font-size: 400%;
    margin-top: 0.15em;
}

.success {
    color: #22bd0d;
    background-color: inherit;
}

.failure {
    color: #bd220d;
    background-color: inherit;
}

#steps li {
    display: inline;
    margin: 0em 0.5em;
}

#card-info dt, #card-info dd {
    float: left;
    margin: 0em 0.5em;
}

#card-info dt {
    font-weight: bold;
}

#card-info dd {
    margin-right: 2em;
}

nav h1 {
    clear: both;
    margin: 0em;
    padding: 0.3em 0em 0em 0em;
}

nav ul, #steps {
    list-style: none;
    padding-left: 0em;
    margin-left: 0em;
}

nav h2 {
    margin: 0em;
    width: 15em;
    text-align: left;
}

nav li {
    float: left;
    width: 15em;
}

nav li ul {
    width: 15em;
}
